header,#ABOUT{background-color: rgb(132, 231, 198);}
footer{background-color: rgb(25, 80, 80);
background-image: url(../bsImages/scallopWhite.png);
background-repeat: repeat-x;}
#ABOUT{background-image: url(../bsImages/backgrounds/Abstract-blue_0.jpg);
background-repeat: no-repeat
background-size: cover
background-position: center
background-attachment: fixed
;}